// Place all the styles related to the MouseRacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col {
  float: left;
  width: 14.28%;
 // padding-right: 20px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.col:last-of-type {
  padding-right: 0;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slotlink:link {
  
}

.slotlink:hover {
  
}

.slotlink:visited {
  
}

.slotlink:active {
  
}